.form {
  width: 50%;
}

.form__content {
  display: none;
}

.form__group {
  margin-bottom: 20px;
}

.form__name {
  font-size: var(--fs-md);
  font-weight: var(--fw-bolder);
}

.input__group {
  margin-top: 5px;
}

.input__group .fa-solid {
  display: inline;
  padding: 7.5px 12px;
  font-size: var(--fs-md);
  background-color: var(--cl-line-status);
  color: var(--cl-secondary);
  border: 1px solid var(--cl-border);
  border-radius: 4px 0 0 4px;
}

.input__place {
  width: 100%;
  padding: 7px 12px;
  border: 1px solid var(--cl-border);
  border-radius: 0 4px 4px 0;
}

.select__menu,
.input__place:focus {
  outline: none;
}

.select__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--cl-primary);
  padding: 7px 12px;
  border: 1px solid var(--cl-border);
  border-radius: 0 4px 4px 0;
  align-items: center;
  font-size: var(--fs-md);
  cursor: pointer;
}

.form__description {
  margin: 0;
  width: 100%;
  font-size: var(--fs-md);
  color: var(--cl-secondary);
  border: 1px solid var(--cl-border);
  padding: 12px;
  font-family: var(--font-primary);
  height: 150px;
}

.form__description:focus {
  outline: none;
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.form__error {
  font-size: var(--fs-sm);
  color: var(--cl-alert);
  margin-top: 5px;
}

.input__group.form__success select,
.input__group.form__success textarea,
.input__group.form__success input {
  border-color: var(--cl-status-number);
}

.input__group.form__error select,
.input__group.form__error textarea,
.input__group.form__error input {
  border-color: var(--cl-alert);
}
