.form__bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  display: flex;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 10000;
  visibility: hidden;
}

.form__bg.is-visible {
  visibility: visible;
}

.form__content {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 700px;
  margin: auto auto;
  padding: 40px;
}

.form__group {
  margin-bottom: 20px;
}

.form__name {
  font-size: var(--fs-md);
  font-weight: var(--fw-bolder);
}

.input__group {
  margin-top: 5px;
}

.input__group .fa-solid {
  display: inline;
  padding: 7.5px 12px;
  font-size: var(--fs-md);
  background-color: var(--cl-line-status);
  color: var(--cl-secondary);
  border: 1px solid var(--cl-border);
  border-radius: 4px 0 0 4px;
}

.input__place {
  width: 100%;
  padding: 7px 12px;
  border: 1px solid var(--cl-border);
  border-radius: 0 4px 4px 0;
}

.select__menu,
.input__place:focus {
  outline: none;
}

.select__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--cl-primary);
  padding: 7px 12px;
  border: 1px solid var(--cl-border);
  border-radius: 0 4px 4px 0;
  align-items: center;
  font-size: var(--fs-md);
  cursor: pointer;
}

.form__description {
  margin: 0;
  width: 100%;
  font-size: var(--fs-md);
  color: var(--cl-secondary);
  border: 1px solid var(--cl-border);
  padding: 12px;
  font-family: var(--font-primary);
  height: 150px;
}

.form__description:focus {
  outline: none;
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.form__error {
  font-size: var(--fs-sm);
  color: var(--cl-alert);
  margin-top: 5px;
}

.input__group.form__success select,
.input__group.form__success textarea,
.input__group.form__success input {
  border-color: var(--cl-status-number);
}

.input__group.form__error select,
.input__group.form__error textarea,
.input__group.form__error input {
  border-color: var(--cl-alert);
}
