.btn {
  padding: 10px 20px;
  font-family: var(--font-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-bolder);
  border: 1px solid var(--cl-border);
  border-radius: 5px;
  cursor: pointer;
}

.btn__back {
  color: var(--cl-secondary);
  background-color: var(--cl-status-cover);
}

.btn__create {
  color: var(--cl-primary);
  background-color: var(--cl-btn);
}

.btn__create:hover,
.btn__back:hover {
  transform: scale(1.05);
}
